<h2 class="text-center my-5">{{isEditing? 'Edit' : 'Create'}} Licence</h2>
<div class="text-danger text-center" *ngIf="errorMessage != ''">
  {{errorMessage}}
</div>

<form *ngIf="errorMessage===''" (ngSubmit)="onSubmit()" #licenceForm="ngForm" class="border rounded p-5 w-50 mx-auto">
    <div class="mb-3">
        <label class="form-label">Application Name*</label>
        <input required #applicationName="ngModel" class="form-control"
               type="text" name="applicationName" [(ngModel)]="licence.applicationName"/>
        <div *ngIf="applicationName.invalid && (applicationName.touched || applicationName.dirty)">
            <div class="text-danger" *ngIf="applicationName.errors?.['required']">
                Application name is required
            </div>
        </div>
    </div>

    <div class="mb-3">
        <label class="form-label">Quantity*</label>
        <input required #quantity="ngModel" class="form-control"
               type="number" name="quantity" [(ngModel)]="licence.quantity" min="0"/>
        <div *ngIf="quantity.invalid && (quantity.touched || quantity.dirty)">
            <div class="text-danger" *ngIf="quantity.errors?.['required']">
                Quantity is required
            </div>
            <div class="text-danger" *ngIf="quantity.errors?.['min']">
                Quantity must be 0 or higher
            </div>
        </div>
    </div>

    <button class="btn btn-primary btn-lg" type="submit" [disabled]="licenceForm.invalid">
        {{isEditing? 'Update' : 'Create'}}
    </button>
</form>
